@import "vars";
.footer{
    background-color: $fon;
}
.footer__content{
    padding: 100px 0;
    border-bottom: 1px solid #424d53;
}
.footer__title{
    color: #fff;
    font-size: 22px;
    font-family: $raleway;
    padding-bottom: 30px;
    margin-bottom: 35px;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        background-color: $green;
        height: 3px;
        width: 50px;
    }
}
.footer__text{
    margin-bottom: 25px;
}
.footer__adress,
.footer__phone{
    font-size: 14px;
    color: #fff;
    font-family: $lato;
    position: relative;
    padding-left: 30px;
    &:before{
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
.footer__adress:before{
    content: '\f041';
}
.footer__phone{
    margin-top: 20px;
    display: block;
    &:before{
        content: '\f095';
    }
}
.footer__list{
    li{
        margin-bottom: 10px;
    }
    a{
        line-height: 36px;
        padding-left: 21px;
        color: $text;
        position: relative;
        &:before{
            content: "\f105";
            font-family: 'icomoon';
            position: absolute;
            left: 0px;
            font-size: 18px;
            color: $green;
            line-height: 33px;
        }
    }
}
.footer__form-title{
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    margin-top: 30px;
}
.footer__form{
    input{
        height: 40px;
        line-height: 40px;
        width: 215px;
        padding: 0px 15px;
        background-color: #2f3c43;
        outline: none;
        border: 1px solid #000101;
        border-bottom: 1px solid #253136;
        border-right: none;
        color: #fff;
    }
    button{
        border: 1px solid #000101;
        border-bottom: 1px solid #253136;
        border-left: none;
        background-color: $green;
        position:relative;
        width: 40px;
        height: 40px;
        left: -1px;
        top: 13px;
        &:before{
            content: "\f124";
            font-family: 'icomoon';
            position: absolute;
            font-size: 20px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.f__soc{
    li{
    display: inline-block;
    & + li{
        margin-left: 7px;
        }
        a{
        background-image: url(../img/sprite_socials.png);
        background-repeat: no-repeat;
        height: 28px;
        width: 28px;
        display: inline-block;
            &:hover{
                transform: scale(0.9);
            }
            &.facebook{
                background-position: -34px -2px;
            }
            &.twitter{
                background-position: -34px -33px;
            }
            &.youtube{
                background-position: -66px -1px;
            }
            &.pinterest{
                background-position: -2px -33px;
            }
            &.linkedin{
                background-position: 0px 0px;
            }
        }
    }
}
.footer__copy{
    padding: 30px 0;
    text-align: center;
}
.footer__copy-text{
    line-height: 36px;
    color: #919699;
}